@use "sass:map";

@import "src/app/core/scss/grid.scss";
@import "src/app/core/scss/fonts.scss";
@import "src/app/core/scss/colors.scss";

.container {
    height: 60px;
    box-sizing: border-box;
}

.navbar-unset__color {
    @include setElementColor($background-color: unset);
}

.navbar-unset__color:hover {
    @include setElementColor($background-color: map.get($background-colors, "elevation-02dp"));
    transition: 500ms ease-in-out;
}

.flex__start-area,
.center-area,
.flex__end-area {
    width: calc(100% / 3);

    .flex__start-area__title {
        @include setFont($family: "bold", $color: $default-color);
    }
}

.mat-icon:hover {
    ::ng-deep svg {
        fill: $primary-color !important;
        transition: 300ms ease-in-out;
    }
}

@include grid("large-handset") {
}
@include grid("large-tablet") {
}
@include grid("desktop") {
    .flex__start-area,
    .center-area,
    .flex__end-area {
        .flex__start-area__title {
            @include setFont($size: 1.3rem);
        }
    }
}
