<div class="column center-horizontal-align center-vertical-align container">
    <div class="column card login-card">
        <div class="column center-vertical-align login-card-header">
            <span class="login-card-header__title"> GOOFY GRAPE GAME</span>
            <span class="login-card-header__subtitle"> My car is very fast VRUUUUMMMM </span>
        </div>
        <div class="row login-card-content" *ngIf="getFormControlValue('step') === 0">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row center-horizontal-align login-card-content">
                <div class="login-card-content__input" [ngClass]="getFormControlNameIsValid('room')">

                    <input type="text" placeholder="Room" formControlName="room">
                </div>
                <button class="rectangular-button login-card-content__button"
                    [disabled]="getFormControlNameIsValid('room')" matRipple>Próximo</button>
            </form>
        </div>
        <div class="row login-card-content" *ngIf="getFormControlValue('step') === 1 && !isLoading">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row center-horizontal-align login-card-content">
                <div class="login-card-content__input" [ngClass]="getFormControlNameIsValid('username')">
                    <input type="text" placeholder="Username" formControlName="username">
                </div>
                <span *ngIf="form.get('username')?.invalid"> {{getFormErrorMessage("username")}}</span>

                <button class="rectangular-button login-card-content__button"
                    [disabled]="getFormControlNameIsValid('username')" matRipple>Próximo</button>

            </form>
        </div>
        <div class="row login-card-content" *ngIf="isLoading">
            loading spinner here
        </div>
    </div>
</div>