@use "sass:map";

@import "src/app/core/scss/grid.scss";
@import "src/app/core/scss/fonts.scss";
@import "src/app/core/scss/colors.scss";

.wrapper {
    height: 100%;
    box-sizing: border-box;
    background-color: map.get($background-colors, "elevation-00dp");

}

.container {
    height: calc(100% - 60px);
}

.login-card {
    @include setElementColor(map.get($background-colors, "elevation-02dp"));
    box-sizing: border-box;

    .login-card-header {
        .login-card-header__title {
            @include setFont($family: "bold", $color: $primary-color);
        }
        .login-card-header__subtitle {
            @include setFont($family: "regular", $color: $secondary-color);
        }
    }

    .login-card-content {
        .login-card-content__input {
            box-sizing: border-box;
            border: 2px solid;
            border-radius: 8px;

            cursor: text;

            @include setElementColor(
                $background-color: map.get($background-colors, "elevation-01dp"),
                $border-color: map.get($background-colors, "elevation-01dp")
            );

            input {
                border: unset;
                @include setElementColor($background-color: unset, $border-color: unset);
                @include setFont($family: "regular", $color: $default-color);
            }

            input::placeholder {
                padding-left: 6px;
                @include setFont($family: "regular", $color: $disabled-color);
            }

            input:focus {
                outline: none;
            }
        }

        .login-card-content__input-invalid {
            @include setElementColor($border-color: $warn-color);
            transition: 200ms ease-in-out;

            input::placeholder {
                @include setFont($color: $warn-light-color);
            }
        }

        .login-card-content__input-error {
            @include setFont($family: "bold");
            transition: 300ms ease-in-out;
        }

        .login-card-content__button {
            cursor: pointer;

            @include setElementColor($background-color: unset);
        }

        .login-card-content__next-button {
            @include setFont($family: "regular", $color: $primary-color);
        }

        .login-card-content__back-button {
            @include setFont($family: "regular", $color: $default-color);
        }

        .login-card-content__button:hover {
            @include setElementColor($background-color: map.get($background-colors, "elevation-01dp"));
            transition: 500ms ease-in-out;
        }

        .login-card-content__button:hover:disabled {
            cursor: default;
            @include setFont($family: "light");
        }

        .login-card-content__button:focus {
            outline: none;
        }

        .login-card-content__button:disabled {
            @include setElementColor($background-color: unset, $border-color: #616161);
            @include setFont($family: "light", $color: #616161);
        }
    }

    .login-card-content__loading {
        padding-top: 0 !important;
    }

    .login-card-content,
    .login-card-content__input,
    .login-card-content__button,
    .login-card-content-input__wrapper,
    form,
    input {
        width: 100%;
    }
}

.loading-card {
    .loading-card-content {
        span {
            @include setFont($family: "bold", $color: $default-color);
        }
    }
}

@include grid("large-handset") {
    .container {
        padding: 0;
    }

    .login-card {
        width: 100%;
        border-radius: 0;

        .login-card-header {
            .login-card-header__title {
                @include setFont($size: 2.04rem);
                padding: 0 0 4px 0;
            }
            .login-card-header__subtitle {
                @include setFont($size: 1rem);
            }
        }

        .login-card-content {
            padding-top: 24px;

            .login-card-content__input {
                padding: 8px 16px;
            }

            .login-card-content__button {
                margin-top: 16px;
            }
        }
    }

    .loading-card,
    .loading-card-content {
        width: 100%;
    }

    .loading-card {
        .loading-card-content {
            span {
                @include setFont($size: 1.5rem);
            }
        }
    }
}

@include grid("desktop") {
    .login-card {
        width: 40%;

        .login-card-header {
            .login-card-header__title {
                @include setFont($size: 2.04rem);
                padding: 0 0 4px 0;
            }
            .login-card-header__subtitle {
                @include setFont($size: 1.3rem);
            }
        }

        .login-card-content {
            padding-top: 24px;

            .login-card-content__input {
                padding: 12px 16px;
                border-width: 3px;

                input {
                    @include setFont($size: 1.1rem);
                }
            }

            .login-card-content__input-error {
                padding-top: 12px;
                padding-left: 8px;
            }

            .login-card-content-input__wrapper {
                // height: 80px;
            }

            .login-card-content__button {
                @include setFont($size: 1.2rem);

                width: auto;
                margin: 24px 0 0 0;
                padding: 8px 24px;
            }
        }
    }

    .loading-card,
    .loading-card-content {
        width: 100%;
    }

    .loading-card {
        .loading-card-content {
            span {
                @include setFont($size: 1.2rem);
                padding-top: 16px;
            }
        }
    }
}
