<div>
    <div *ngIf="messages$ | async as messages">
        <mat-list #chat>
            <mat-list-item *ngFor="let message of messages">
                {{message.user}}: {{message.text}}
            </mat-list-item>
        </mat-list>
    </div>
    <mat-form-field>
        <!-- Mudar texto para arquivo de constantes de idioma -->
        <mat-label>Enviar Mensagem</mat-label>
        <input id="chatInput" matInput type="text" (keydown.enter)="enviarMensagem($event.target)">
    </mat-form-field>
</div>