$background-colors: (
    "elevation-00dp": #202225,
    "elevation-01dp": #292b2f,
    "elevation-02dp": #2f3136,
    "elevation-03dp": #36393f,
);

$primary-color: #1eb980;
$primary-dark-color:unset;
$primary-light-color:unset;
$secondary-color: #045d56;
$secondary-dark-color:unset;
$secondary-light-color:unset;

$default-color: white;
$disabled-color: #bdbdbd;

$warn-color: #f44336;
$warn-light-color: #ff7961;
$warn-dark-color: #ba000d;

@mixin setElementColor($background-color: false, $border-color: false) {
    @if $background-color {
        background-color: $background-color;
    }
    @if $border-color {
        border-color: $border-color;
    }
}
