.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.no-wrap {
    flex-wrap: nowrap;
}

.center-horizontal-align {
    justify-content: center;
}

.flex__start-horizontal-align {
    justify-content: flex-start;
}

.flex__end-horizontal-align {
    justify-content: flex-end;
}

.center-vertical-align {
    align-items: center;
}

.flex__start-vertical-align {
    align-items: flex-start;
}

.flex__end-vertical-align {
    align-items: flex-end;
}
